@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('LinLibertine_R-webfont.eot');
    src: url('LinLibertine_R-webfont.eot?#iefix') format('embedded-opentype'),
         url('LinLibertine_R-webfont.woff') format('woff'),
         url('LinLibertine_R-webfont.ttf') format('truetype'),
         url('LinLibertine_R-webfont.svg#LinuxLibertineORegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
  --contentWidth: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: #010D57;
  padding: 2rem 1rem;
}
main {
  --contentWidth: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: white;
  padding: 2rem 1rem;
  height: 400px; 
}
.inside {
  max-width: var(--contentWidth);
  margin: 0 auto;
}
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: "Linux Libertine", normal;
}

.p3 {
  font-family: 'EB Garamond', serif;
}

.crop {
    width: 10px;
    height: auto;
}
